
.input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
}

.city{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media screen and (max-width: 780px){
    .input{
        width: 350px;
    }
}
